body {
  margin: 0;
  padding: 0;
  font-family: Athiti, sans-serif;
}

.nav-all {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100px;
  width: 100%;
  margin: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-all .nav-header-img {
  width: 300px;
}

.nav-all .nav-header-img header {
  height: 100%;
  padding: 28px;
  background-color: #fff;
}

.nav-all .nav-header-img header img {
  height: 100%;
  width: auto;
}

.nav-all .menu-hamburger {
  display: none;
  width: 50px;
  height: 100px;
  position: relative;
  margin: 0 2rem 0 auto;
}

.nav-all .menu-hamburger .hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 35%;
  cursor: pointer;
}

.nav-all .menu-hamburger .hamburger.active .line:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-all .menu-hamburger .hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.nav-all .menu-hamburger .hamburger.active .line:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nav-all .menu-hamburger .hamburger .line {
  display: block;
  width: 100%;
  height: 15%;
  background-color: black;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.nav-all .menu-hamburger .hamburger .line:nth-child(1) {
  position: absolute;
  top: 20%;
  left: 0;
  -webkit-animation: first-line .5s linear both paused;
          animation: first-line .5s linear both paused;
}

.nav-all .menu-hamburger .hamburger .line:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-animation: second-line .5s linear both paused;
          animation: second-line .5s linear both paused;
}

.nav-all .menu-hamburger .hamburger .line:nth-child(3) {
  position: absolute;
  top: 80%;
  left: 0;
  -webkit-animation: first-line .5s linear both paused;
          animation: first-line .5s linear both paused;
}

.nav-all .nav-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.nav-all .nav-list nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
}

.nav-all .nav-list nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-weight: 700;
  padding-left: 0;
  white-space: nowrap;
}

.nav-all .nav-list nav ol li {
  max-height: 100%;
}

.nav-all .nav-list nav ol li a {
  display: block;
  padding-right: 25px;
  line-height: 100px;
  text-transform: uppercase;
  font-size: 14px;
  color: #555;
  letter-spacing: 1px;
}

.nav-all .nav-list nav ol li a:hover {
  text-decoration: none;
  color: #aaa;
}

.nav-all .nav-list nav ol li:last-child {
  margin: auto 0;
}

.nav-all .nav-list nav ol li:last-child a {
  width: 250px;
  line-height: 230%;
  padding-right: 0;
  margin-right: 2px;
  text-align: center;
  background-color: #15253c;
  -webkit-box-shadow: 0 0 0 2px #15253c;
          box-shadow: 0 0 0 2px #15253c;
  color: #fff;
  border-radius: 2px;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}

.nav-all .nav-list nav ol li:last-child a:hover {
  background-color: #fff;
  color: #15253c;
}

.nav-all .nav-list .nav-search-icon {
  min-width: 200px;
  text-align: right;
  height: 100px;
  background-color: #fff;
}

.nav-all .nav-list .nav-search-icon a {
  margin: 0 40px;
  color: #555;
  height: 100%;
  width: 100%;
}

.nav-all .nav-list .nav-search-icon a i {
  line-height: 100px;
  width: 40px;
  font-size: 30px;
}

.nav-all .nav-list .nav-search-icon a i:hover {
  color: #aaa;
}

.nav-all .nav-list .search-window {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  width: 350px;
  background-color: #fff;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  z-index: -1;
}

.nav-all .nav-list .search-window.active {
  top: 100px;
}

.nav-all .nav-list .search-window div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav-all .nav-list .search-window div input {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 65%;
  height: 45px;
  font-size: 30px;
  margin-left: 35px;
  border: none;
}

.nav-all .nav-list .search-window div input:focus {
  outline: none;
}

.nav-all .nav-list .search-window div button {
  border: none;
  background-color: #fff;
  font-size: 34px;
  padding-left: 16px;
  overflow: hidden;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
}

.nav-all .nav-list .search-window div button:focus {
  outline: none;
}

.nav-all .nav-list .search-window div button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 1200px) {
  .nav-all .nav-list {
    display: none;
  }
  .nav-all .menu-hamburger {
    display: block;
  }
  .mobile .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 100px;
    width: 100%;
    left: 0;
    margin: 0;
  }
  .mobile .nav-list nav ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile .nav-list nav ol li {
    text-align: center;
  }
  .mobile .nav-list nav ol li a {
    line-height: 40px;
    padding: 0;
  }
  .mobile .nav-list nav ol li:last-child {
    position: relative;
    height: 40px;
  }
  .mobile .nav-list nav ol li:last-child a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0;
  }
  .mobile .nav-list .nav-search-icon {
    display: none;
  }
  .mobile .nav-list .search-window {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .mobile .nav-list .search-window input {
    width: 25% !important;
  }
  .mobile .menu-hamburger {
    display: block;
  }
}

body {
  overflow-x: hidden;
}

section.slider {
  margin-top: 100px;
  height: 60vh;
  background-color: black;
}

.center-box {
  margin-bottom: 150px;
}

.center-box .blue-box {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #15253c;
  color: #fff;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  border-radius: 15px;
}

.center-box .blue-box .box-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px 40px 10px;
}

.center-box .blue-box .box-container .left-text {
  text-align: right;
}

.center-box .blue-box .box-container .left-text h1 {
  font-size: 64px;
  margin: 50px 0 50px 20px;
  font-weight: 600;
}

.center-box .blue-box .box-container .right-text {
  text-align: left;
  font-size: 24px;
}

.center-box .blue-box .box-container .right-text p {
  margin: 60px 10px 0 20px;
}

.company-info {
  background-color: #ddd;
}

.company-info .info-item {
  position: relative;
}

.company-info .info-item .content {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-align: center;
  font-size: 8rem;
  padding: 10rem 0;
}

.company-info .info-item .content i {
  color: #15253c;
}

.box-with-reference {
  margin-top: 2rem;
}

.box-with-reference .content {
  background-color: #15253c;
  height: 30rem;
  border-radius: 2rem;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

@media (max-width: 1225px) {
  .center-box .blue-box {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .center-box .blue-box .box-container .left-text {
    text-align: center;
  }
  .center-box .blue-box .box-container .left-text h1 {
    font-size: 42px;
    margin: 50px 0 15px 0;
  }
  .center-box .blue-box .box-container .right-text {
    text-align: center;
    font-size: 28px;
  }
  .center-box .blue-box .box-container .right-text p {
    margin: 28px;
  }
  .company-info .info-item .content {
    padding: 5rem 0;
  }
}

.offer-container .header {
  text-align: center;
  padding: 12rem 0 6rem 0;
}

.offer-container .header h2 {
  font-size: 5rem;
  font-weight: 700;
}

.offer-container .header h2:after {
  content: "";
  display: block;
  width: 4em;
  height: 3px;
  background-color: #66b7ac;
  margin: 2rem auto;
}

.offer-container .heading-of-article {
  margin-bottom: 1rem;
}

.offer-container .heading-of-article h3 {
  font-size: 42px;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 2px solid #66b7ac;
  white-space: nowrap;
}

.offer-container .offer-article {
  margin-bottom: 0.4rem;
  text-align: center;
}

.offer-container .offer-article i {
  font-size: 80px;
  color: #66b7ac;
}

.offer-container .offer-article ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.offer-container .offer-article ul li {
  font-size: 21px;
  text-align: left;
  padding-left: 10px;
  position: relative;
}

.offer-container .offer-article ul li:before {
  content: "";
  height: 6px;
  width: 6px;
  background-color: #15253c;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: 7px;
  margin: 0.4rem 1rem 0.4rem 0.4rem;
}

.offer-container .tiles {
  margin: 3rem 0;
}

.offer-container .items-height {
  height: 470px;
}

.offer-container .offer-item {
  text-align: center;
  margin: 30px 0;
  height: 100%;
}

.offer-container .offer-item .content {
  height: 100%;
  background-color: rgba(221, 221, 221, 0.6);
  border-radius: 1rem;
  -webkit-box-shadow: 0 20px 50px -23px #15253c;
          box-shadow: 0 20px 50px -23px #15253c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.offer-container .offer-item i {
  font-size: 110px;
  margin: 20px 0 0 0;
  color: #66b7ac;
}

.offer-container .offer-item a {
  color: #15253c;
  -webkit-transition: .2s;
  transition: .2s;
}

.offer-container .offer-item a h3 {
  text-transform: uppercase;
  font-size: 28px;
  padding: 0 15px;
  white-space: normal;
}

.offer-container .offer-item a:hover {
  text-decoration: none;
  color: #66b7ac;
}

.offer-container .offer-item p {
  font-size: 18px;
  padding: 5px 15px 20px 15px;
}

.offer-container .offer-item .btn {
  margin-bottom: 20px;
  font-size: 15px;
  color: #fff;
  background-color: #66b7ac;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0 3px #66b7ac;
          box-shadow: 0 0 0 3px #66b7ac;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
}

.offer-container .offer-item .btn:hover {
  text-decoration: none;
  cursor: pointer;
  color: #66b7ac;
  background-color: rgba(221, 221, 221, 0.6);
}

.offer-container .why-sellwise {
  margin-bottom: 15rem;
  text-align: center;
}

.offer-container .why-sellwise i {
  font-size: 80px;
  color: #15253c;
  margin-bottom: 1.2rem;
}

.offer-container .why-sellwise h4 {
  font-size: 21px;
  letter-spacing: 0.2rem;
}

@media (max-width: 1200px) {
  .offer-container .items-height {
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */