body {
  margin: 0;
  padding: 0;
  font-family: Athiti, sans-serif;
}

.nav-all {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100px;
  width: 100%;
  margin: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-all .nav-header-img {
  width: 300px;
}

.nav-all .nav-header-img header {
  height: 100px;
  padding: 28px;
}

.nav-all .nav-header-img header img {
  height: 100%;
  width: auto;
}

.nav-all .nav-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-all .nav-list nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
}

.nav-all .nav-list nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-weight: 700;
  padding-left: 0;
  white-space: nowrap;
}

.nav-all .nav-list nav ol li {
  max-height: 100px;
}

.nav-all .nav-list nav ol li a {
  display: block;
  padding-right: 25px;
  line-height: 100px;
  text-transform: uppercase;
  font-size: 14px;
  color: #555;
  letter-spacing: 1px;
}

.nav-all .nav-list nav ol li a:hover {
  text-decoration: none;
  color: #aaa;
}

.nav-all .nav-list nav ol li:last-child a {
  width: 250px;
  line-height: 40px;
  margin: 30px 0;
  padding-right: 0;
  text-align: center;
  background-color: #15253c;
  -webkit-box-shadow: 0 0 0 2px #15253c;
          box-shadow: 0 0 0 2px #15253c;
  color: #fff;
  border-radius: 2px;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}

.nav-all .nav-list nav ol li:last-child a:hover {
  background-color: #fff;
  color: #15253c;
}

.nav-all .nav-list .nav-search-icon {
  min-width: 200px;
  text-align: right;
  height: 100px;
  background-color: #fff;
}

.nav-all .nav-list .nav-search-icon a {
  margin: 0 40px;
  color: #555;
  height: 100%;
  width: 100%;
}

.nav-all .nav-list .nav-search-icon a i {
  line-height: 100px;
  width: 40px;
  font-size: 30px;
}

.nav-all .nav-list .nav-search-icon a i:hover {
  color: #aaa;
}

.nav-all .nav-list .search-window {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  width: 350px;
  background-color: #fff;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  z-index: -1;
}

.nav-all .nav-list .search-window.active {
  top: 100px;
}

.nav-all .nav-list .search-window div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav-all .nav-list .search-window div input {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 65%;
  height: 45px;
  font-size: 30px;
  margin-left: 35px;
  border: none;
}

.nav-all .nav-list .search-window div input:focus {
  outline: none;
}

.nav-all .nav-list .search-window div button {
  border: none;
  background-color: #fff;
  font-size: 34px;
  padding-left: 20px;
  overflow: hidden;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
}

.nav-all .nav-list .search-window div button:focus {
  outline: none;
}

.nav-all .nav-list .search-window div button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section.slider {
  margin-top: 100px;
  height: 60vh;
  background-color: black;
}

.center-box {
  position: relative;
}

.center-box .blue-box {
  width: 1100px;
  margin: 0 auto 100px auto;
  background-color: #15253c;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  border-radius: 15px;
}

.center-box .blue-box .left-text {
  text-align: right;
}

.center-box .blue-box .left-text h1 {
  font-size: 64px;
  margin: 50px 0 50px 20px;
  font-weight: 600;
}

.center-box .blue-box .right-text {
  text-align: left;
  font-size: 24px;
}

.center-box .blue-box .right-text p {
  margin: 60px 10px 0 20px;
}

@media (max-width: 1225px) {
  .center-box .blue-box {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .center-box .blue-box .left-text {
    text-align: center;
  }
  .center-box .blue-box .left-text h1 {
    font-size: 42px;
    margin: 50px 0 15px 0;
  }
  .center-box .blue-box .right-text {
    text-align: center;
    font-size: 28px;
  }
  .center-box .blue-box .right-text p {
    margin: 28px;
  }
}
/*# sourceMappingURL=main.css.map */