body{
    overflow-x: hidden;
}

section.slider {
    margin-top: $nav-height;
    height: 60vh;
    background-color: black;
}

.center-box {
    margin-bottom: $box-margin-bottom;
    .blue-box {
        max-width: 1100px;
        @include margin();
        background-color: $primary-color;
        color: #fff;
        transform: translateY($box-translateY);
        border-radius: 15px;
        .box-container{
            box-sizing: border-box;
            padding: 10px 10px 40px 10px;
            .left-text {
                text-align: right;
                h1 {
                    font-size: $text-left-fs;
                    margin: 50px 0 50px 20px;
                    font-weight: 600;
                }
            }
            .right-text {
                text-align: left;
                font-size: $text-right-fs;
                p {
                    margin: 60px 10px 0 20px;
                }
            }
        }
    }
}

.company-info{
    background-color: #ddd;
    margin-bottom: 12rem;
    .info-item{
        position: relative;
        .content{
            text-transform: uppercase;
            letter-spacing: 0.3rem;
            text-align: center;
            font-size: 8rem;
            padding: 10rem 0;
            i{
                color: $primary-color;
            }
        }
    }
}

.box-with-reference{
    margin-top: 2rem;
    padding: 0 2rem;
    .content{
        background-color: $primary-color;
        height: 30rem; // tymczasowo
        border-radius: 2rem;
        transform: translateY(15%)
    }
}

@media(max-width: 1225px) {
    .center-box {
        .blue-box {
            width: 90%;
        }
    }
}

@media(max-width: 992px) {
    .center-box {
        .blue-box {
            .box-container{
                .left-text {
                    text-align: center;

                    h1 {
                        font-size: 42px;
                        margin: 50px 0 15px 0;
                    }
                }

                .right-text {
                    text-align: center;
                    font-size: 28px;

                    p {
                        margin: 28px;
                    }
                }
            }
        }
    }
}