// @mixin transform($property) {
//     -webkit-transform: $property;
//     -ms-transform: $property;
//     transform: $property;
//   }
//   .box {
//    @include transform(rotate(30deg));
// }

@mixin flex($direction: row,$wrap: nowrap,$justify: center){
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
}

@mixin centerInBox($x:-50%,$y:-50%){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate($x,$y)
}