body {
    margin: 0;
    padding: 0;
    font-family: $font, sans-serif;
}

.nav-all {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    height: $nav-height;
    width: 100%;
    margin: 0;
    z-index: 100;
    @include flex(row, nowrap, flex-start);

    .nav-header-img {
        width: 300px;
        header {
            height: 100%;
            padding: 28px;
            background-color: #fff;

            img {
                height: 100%;
                width: auto;
            }
        }

    }

    .menu-hamburger{
        display: none;
        width: 50px;
        height: $nav-height;
        position: relative;
        margin: 0 2rem 0 auto;
        .hamburger{
            @include centerInBox();
            width: 100%;
            height: 35%;
            cursor: pointer;
            &.active{
                .line:nth-child(1){
                    top: 50%;
                    transform: rotate(-45deg);
                }
                .line:nth-child(2){
                    opacity: 0;
                }
                .line:nth-child(3){
                    top: 50%;
                    transform: rotate(-135deg);
                }
            }
            .line{
                display: block;
                width: 100%;
                height: 15%;
                background-color: black;
                transition-duration: .4s;
                &:nth-child(1){
                        position: absolute;
                        top: 0;
                        left: 0;
                        animation: first-line .5s linear both paused;
                    }
                &:nth-child(2){
                        position: absolute;
                        top: 50%;
                        left: 0;
                        animation: second-line .5s linear both paused;
                    }
                &:nth-child(3){
                        position: absolute;
                        top: 100%;
                        left: 0;
                        animation: first-line .5s linear both paused;
                    }
                }
            }
        }
    
    .nav-list {
        flex-grow: 1;
        display: flex;
        margin-left: 50px;
        nav {
            flex-grow: 1;
            background-color: #fff;

            ol {
                @include flex(row, nowrap);
                list-style: none;
                font-weight: 700;
                padding-left: 0;
                white-space: nowrap;

                li {
                    max-height: 100%;

                    a {
                        display: block;
                        padding-right: 25px;
                        line-height: $nav-height;
                        text-transform: uppercase;
                        font-size: 14px;
                        color: $nav-a-color;
                        letter-spacing: 1px;

                        &:hover {
                            text-decoration: none;
                            color: $nav-a-hover-color;
                        }
                    }

                    &:last-child {
                        a {
                            width: 250px;
                            line-height: 40px;
                            margin: 30px 2px;
                            padding-right: 0;
                            text-align: center;
                            background-color: $nav-button-color;
                            box-shadow: 0 0 0 2px  $nav-button-color;
                            color: #fff;
                            border-radius: 2px;
                            transition: .2s all linear;

                            &:hover {
                                background-color: #fff;
                                color:  $nav-button-color;
                            }
                        }
                    }
                }
            }
        }

        .nav-search-icon {
            min-width: 200px;
            text-align: right;
            height: $nav-height;
            background-color: #fff;

            a {
                margin: 0 40px;
                color: $nav-a-color;
                height: 100%;
                width: 100%;

                i {
                    line-height: $nav-height;
                    width: 40px;
                    font-size: 30px;

                    &:hover {
                        color: $nav-a-hover-color;
                    }
                }
            }
        }

        .search-window {
            //Wlaczony wyjazd z gory, mozliwosc wjazdu z prawej lub pojawienia sie
            //display: none;
            position: absolute;
            top: 0; //$nav-height;
            right: 0; //-$search-window-width;
            height: 80px;
            width: $search-window-width;
            background-color: #fff;
            transition: .2s all linear;
            z-index: -1;

            &.active {
                //display: block;
                //right: 0;
                top: $nav-height;
            }

            div {
                width: 100%;
                @include centerInBox();

                input {
                    box-sizing: content-box;
                    width: 65%;
                    height: 45px;
                    font-size: 30px;
                    margin-left: 35px;
                    border: none;

                    &:focus {
                        outline: none;
                    }

                }

                button {
                    border: none;
                    background-color: #fff;
                    font-size: 34px;
                    padding-left: 16px;
                    overflow: hidden;
                    transition: 0.1s all linear;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        transform: scale(1.2)
                    }
                }
            }
        }
    }
}


@media(max-width: 1200px){
.nav-all .nav-list{
    display: none;
}

.nav-all .menu-hamburger{
    display: block; 
}

.mobile{
        .nav-list{
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 100px;
            width: 100%;
            left: 0;
            margin: 0;
            nav{
                ol{
                    flex-direction: column;
                    li{
                        text-align: center;
                        a{
                            line-height: 40px;
                            padding: 0;
                        }
                        &:last-child{
                            position: relative;
                            height: 40px;
                            a{
                                @include centerInBox();
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .nav-search-icon{
                display: none;
            }
            .search-window{
                position: relative;
                text-align: center;
                width: 100%;
                input{
                    width: 25% !important;
                }
            }

        }
        .menu-hamburger{
            display: block;
        }
    }
}
