//Globalne
$font: Athiti;

// Nav seetings
$nav-height: 100px;
$nav-a-color: #555;
$nav-a-hover-color: #aaa;
$search-window-width: 350px;


// Site main colors
$primary-color: #15253c;
$secondary-color: #66b7ac;