// $font-stack:    Helvetica, sans-serif;
// $primary-color: #333;

// body {
//   font: 100% $font-stack;
//   color: $primary-color;
//}

$font: Athiti;
$nav-height: 100px;
$nav-a-color: #555;
$nav-a-hover-color: #aaa;
$main-color: #15253c;
$search-window-width: 350px;